.row
  .col-md-8.offset-md-2
    %h2 配送先住所
    .text-end= link_to '戻る', items_path, class: 'btn btn-secondary'
  - if @shipping_address
    .col-md-8
      %p
        %strong= ShippingAddress.human_attribute_name(:last_name)
        = @shipping_address.last_name
      %p
        %strong= ShippingAddress.human_attribute_name(:first_name)
        = @shipping_address.first_name
      %p
        %strong= ShippingAddress.human_attribute_name(:post_code)
        = @shipping_address.post_code
      %p
        %strong= ShippingAddress.human_attribute_name(:tel)
        = @shipping_address.tel
      %p
        %strong= ShippingAddress.human_attribute_name(:prefecture)
        = @shipping_address.prefecture.name
      %p
        %strong= ShippingAddress.human_attribute_name(:city)
        = @shipping_address.city
      %p
        %strong= ShippingAddress.human_attribute_name(:other_address)
        = @shipping_address.other_address
      = link_to '編集', edit_users_shipping_address_path, class: 'btn btn-outline-secondary'
  - else
    .col-md-8
      %p 配送先住所の登録がされていません。配送先住所の登録がないと購入できないため登録をお願いします。
      = link_to '新規登録', new_users_shipping_address_path, class: 'btn btn-outline-secondary'
