.card.mb-2
  .card-body
    .row.mb-4
      .col-md-12
        %h5.mb-3 配送日時
        = f.input :delivery_date, as: :date, html5: true, label: '配送日',
          input_html: { min: 3.business_day.from_now, max: 14.business_day.from_now },
          hint: '3営業日後から14営業日までの間で選択してください'
        = f.input :delivery_time_slot_id, collection: DeliveryTimeSlot.all.order(id: :asc), label: '配送時間帯'
    %hr.my-3
    .row.mb-4
      .col-md-12
        %h5.mb-3 配送先住所
        - if current_user.shipping_address
          %p
            %strong= ShippingAddress.human_attribute_name(:full_name)
            = full_name(current_user.shipping_address)
          %p
            %strong= ShippingAddress.human_attribute_name(:tel)
            = current_user.shipping_address.tel
          %p
            %strong= ShippingAddress.human_attribute_name(:address)
            = "〒#{current_user.shipping_address.post_code}"
            %br
            = address(current_user.shipping_address)
          = link_to '編集', edit_users_shipping_address_path, class: 'btn btn-outline-secondary'
        - else
          %p 配送先住所の登録がされていません。配送先住所の登録がないと購入できません。
          = link_to '新規登録', new_users_shipping_address_path, class: 'btn btn-outline-secondary'
