-# frozen_string_literal: true
= simple_form_for [:admins, item] do |f|
  .form-inputs
    = f.input :product_photo
    = f.input :name
    = f.input :description
    = f.input :price
    = f.input :is_published
  .form-actions
    = f.button :submit
