%h2 TOPページ
= paginate @items
.row
  - @items.each do |item|
    .col-md-4
      .card.mb-4.border-0
        = image_tag product_photo_image(item), class: 'card-img-top'
        .card-body
          %p.card-title.fw-bold= link_to item.name, item_path(item),
          class: 'link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover ms-2'
          %p.card-text= number_to_currency(item.price)
= paginate @items
