!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title= content_for(:title) || "Sakura Market"
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %meta{:content => "yes", :name => "mobile-web-app-capable"}/
    = csrf_meta_tags
    = csp_meta_tag
    = yield :head
    %link{:href => "/icon.png", :rel => "icon", :type => "image/png"}/
    %link{:href => "/icon.svg", :rel => "icon", :type => "image/svg+xml"}/
    %link{:href => "/icon.png", :rel => "apple-touch-icon"}/
    = stylesheet_link_tag :app, "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", type: "module"
  %body
    - if admin_signed_in?
      %nav.navbar.navbar-expand-lg.bg-body-tertiary
        .container-fluid
          = link_to 'さくらマーケット', admins_items_path, class: 'navbar-brand'
          %button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarNav", "data-bs-toggle" => "collapse", type: "button"}
            %span.navbar-toggler-icon
          .d-flex.justify-content-around
            #navbarNav.collapse.navbar-collapse
              %ul.navbar-nav
                %li.nav-item
                  = button_to 'ログアウト', destroy_admin_session_path, method: :delete, data: { turbo_method: :delete }, class: 'btn btn-secondary'
    - else
      %nav.navbar.navbar-expand-lg.bg-danger-subtle
        .container-fluid
          = link_to 'さくらマーケット', 'items_path', class: 'navbar-brand'
          %button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarNav", "data-bs-toggle" => "collapse", type: "button"}
            %span.navbar-toggler-icon
          .d-flex.justify-content-around
            #navbarNav.collapse.navbar-collapse
              %ul.navbar-nav
                - if user_signed_in?
                  %li.nav-item
                    = button_to 'ログアウト', destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: 'btn btn-secondary'
                - else
                  %li.nav-item
                    = link_to 'ログイン', new_user_session_path, class: 'btn btn-secondary'
    .container
      .row.justify-content-center
        .col-md-8.col-lg-6
          = render 'layouts/flash'
          = yield
